*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: gray;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Piano{
  border-radius: 30px;
  padding: 20px 35px;
  width: 900px;
  height: 400px;
  background-color: black;
  
}
.result{
  border-bottom: 2px solid black;
  background-color: rgb(53, 53, 53);
  height: 40%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: white;
}
.keys{
  height: 60%;
  padding: 0;
  background-color: black;
  display: flex; 
  align-items: end;
  gap: 2px;
  justify-content: space-between;
  grid-template-columns: repeat(8 , 1fr);
  gap: 0.1px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.key{
  background-color: white;
  width: 100px;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 20px;
  user-select: none;
}
.key span{
  font-size: 1rem;
  color: black;
  padding: 10px;
  border-radius: 100px;
}

.a-btn{
background-color: red;
color: black;
height: 100%;
}

.s-btn{
background-color: orange;
color: black;
height: 100%;
}
.d-btn{
  background-color: yellow;
  color: black;
  height: 100%;
}
.f-btn{
background-color: green;
color: black;
height: 100%;
}
.j-btn{
background-color: #0074D9;
color: white;
height: 100%;
}
.k-btn{
background-color: indigo;
color: white;
height: 100%;
}
.l-btn{
background-color: #B10DC9;
color: white;
height: 100%;
}
.colon-btn{
background-color: #F012BE;
color: white;
height: 100%;
}

.K-txt{
  color: red;
}
.E-txt{
  color: orange;
}
.Y-txt{
  color: yellow;
}
.P-txt{
  color: green;
}
.I-txt{
  color: #0074D9 ;
}
.A-txt{
  color: indigo;
}
.N-txt{
  color:#B10DC9;
}
.O-txt{
  color: #F012BE;
}