*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: gray;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.Piano{
  border-radius: 30px;
  padding: 20px 35px;
  width: 900px;
  height: 400px;
  background-color: black;
  
}
.result{
  border-bottom: 2px solid black;
  background-color: rgb(53, 53, 53);
  height: 40%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.keys{
  height: 60%;
  padding: 0;
  background-color: black;
  display: flex; 
  gap: 2px;
  justify-content: space-between;
  grid-template-columns: repeat(8 , 1fr);
  gap: 0.1px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.key{
  background-color: white;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
